body {
  background: rgb(196, 255, 219);
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; 
}
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: rgb(13, 95, 91);
}

.bio,
.fancyQuote {
  text-align: center;
  color:#080808;
  margin-top: 16px;
  font-weight: 400;
}

.waveButton,
.message-input,
.waveCount {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  color: black;
  text-align: center;
  font-weight: 900; 
}

.wave-messages {
  padding: 2em;
  background-color: "OldLace" ;
  margin-top: "16px";
  font-weight: 400;
  color: "black";
}

